:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--white: #e5e5e7;
	--green: #198d0e;
	--blue: #5819eb;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
    background: url(../assets/images/backgroundimg.jpg);
    background-size: cover;
}

header {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--white);
	margin-bottom: 1rem;
}

#signout{
    color:white;
    font-size: 1.5rem;
	font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

#new-thought-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-thought-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-thought-input::placeholder {
	color: var(--white);
}

#new-thought-submit {
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
    border: 2px solid  var(--darkest);
    border-radius: 4px
}

#new-thought-submit:hover {
	opacity: 0.8;
}

#new-thought-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.thought-list {
	padding: 1rem;
}

.thought-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#thoughts .thought {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.thought .content {
	flex: 1 1 0%;
}

.thought .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.thought .content .text:not(:read-only) {
	color: var(--green);
}

.thought .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.thought .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.thought .actions button:hover {
	opacity: 0.8;
}

.thought .actions button:active {
	opacity: 0.6;
}

.thought .actions .edit {
    color: var(--white);
}

.thought .actions .delete {
	color: crimson;
}

footer{
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}